<div class="calculator">
  <h1 class="calculator__title">Stock Calculator</h1>
  <h2 class="calculator__subtitle">
    Estimate your investment growth over time
  </h2>
  <div class="calculator__container">
    <div class="calculator__calculate">
      <form [formGroup]="form">
        <label for="starting-balance">Starting Balance:</label>
        <input
          type="tel"
          id="starting-balance"
          placeholder="Rp. 5.000.000"
          formControlName="startingBalance"
          [value]="form.get('startingBalance').value"
        />
        <label for="montly">Monthly Investment:</label>
        <input
          type="tel"
          placeholder="Rp. 1000.000"
          formControlName="monthlyInvestment"
        />
        <label for="period">Period:</label>
        <input type="tel" placeholder="5 year" formControlName="period" />
        <div class="calculator__button-container">
          <button type="submit" (click)="onSubmit()">Calculate</button>
          <button type="submit" (click)="onAsyncSubmit()">
            Async Calculate
          </button>
        </div>
      </form>
    </div>
    <div class="calculator__estimation">
      <p>Expected Balance:</p>
      <p *ngIf="isLoading" class="calculator__result">Calculating...</p>
      <p *ngIf="!isLoading" class="calculator__result">
        {{ expectedValue | currency: "Rp ":"symbol":"3.0" }}
      </p>
    </div>
  </div>
</div>
